       {% load static %}
       {% load widget_tweaks %}
       <!-- slider Area Start-->
       <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/h1_hero.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-9 col-md-10">
                            <div class="hero__caption">
                                {% if not request.user.is_recruiter %}
                                <h1>Find the most exciting startup jobs</h1>
                                {% else %}
                                <h1>Welcome Recruiter,</h1><h2>Create a company and start posting jobs Today!</h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if not request.user.is_recruiter %}
                    <!-- Search Box -->
                    <div class="row">
                        <div class="col-xl-8">
                            <!-- Search Form -->
                            <form action="{% url 'job-search' %}" method="get" class="search-box">
                                <div class="input-form">
                                    <!-- Keyword Input Field -->
                                    <input type="text" name="query" placeholder="Job Title or keyword" 
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Job Title or keyword'" 
                                           value="{{ query }}">
                                        </div>
                                        <button type="submit" class="genric-btn primary py-3 px-5">Find job</button>
                                <div class="select-form ">
                                    <!-- Submit Button -->
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    {% else %}
                    <div class="row">
                        <div class="col-xl-8">
                            <a href="{% url 'create-job' %}" class="genric-btn primary e-large">Post Jobs</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->