{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Hero Area Start-->
<div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center"
        data-background="{% static 'assets/img/hero/about.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>Recommended for you</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero Area End -->
<!-- Job List Area Start -->
<div class="job-listing-area pt-120 pb-120">
    <div class="container">
        <div class="row">
            <!-- Right content -->
            <div class="col-xl-9 col-lg-9 col-md-8">
                <!-- Featured_job_start -->
                <section class="featured-job-area">
                    <div class="container">
                        <!-- single-job-content -->
                         {% if recommended_jobs %}
                        {% for job in recommended_jobs %}
                        <div class="single-job-items mb-30">
                            <div class="job-items">
                                <div class="company-img">
                                    <a href="{% url 'job-detail' job.pk %}"><img
                                            src="{% if job.company.logo %} {{  job.company.logo.url  }} {% endif %}"
                                            alt="{{ job.company.name|truncatechars:5 }}"></a>
                                </div>
                                <div class="job-tittle job-tittle2">
                                    <a href="{% url 'job-detail' job.pk %}">
                                        <h4>{{ job.title }}</h4>
                                    </a>
                                    <ul>
                                        <li>{{ job.category|truncatechars:12 }}</li>
                                        <li><i class="fas fa-map-marker-alt"></i>{{ job.location }}</li>
                                        <li>{{ job.salary }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="items-link items-link2 f-right">
                                <a href="{% url 'job-detail' job.pk %}">{{ job.job_type }}</a>
                                <span>{{ job.posted_at|naturaltime }}</span>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </section>
                <!-- Featured_job_end -->
            </div>
        </div>
    </div>
</div>
<!-- Job List Area End -->
<!--Pagination Start  -->
{% if is_paginated %}
<div class="pagination-area pb-115 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            {% if recommended_jobs.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ recommended_jobs.previous_page_number }}">
                                    <span class="ti-angle-left"></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for i in recommended_jobs.paginator.page_range %}
                            <li class="page-item {% if i == recommended_jobs.number %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">
                                    {{ i }}
                                </a>
                            </li>
                            {% endfor %}

                            {% if recommended_jobs.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ recommended_jobs.next_page_number }}">
                                    <span class="ti-angle-right"></span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}