{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="section-top-border">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <h3 class="mb-30">Create A Company</h3>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mt-10">
                        {% render_field form.name class="single-input" placeholder="Company Name"%}
                    </div>
                    <div class="mt-10">
                        {% render_field form.est_date class="single-input" placeholder="Established Date"%}
                    </div>
                    <div class="mt-10">
                        {% render_field form.city class="single-input" placeholder="City"%}
                    </div>
                    <div class="mt-10">
                        {% render_field form.province class="single-input" placeholder="Province"%}
                    </div>
                    <div class="mt-10">
                        {% render_field form.logo class="single-input" placeholder="logo"%}
                    </div>
                    <br>
                    <button type="submit" class="genric-btn primary-border">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}